In [2]:
import pandas as pd
import numpy as np

In [13]:
B_air = pd.read_csv("B측정소_기상자료(1hr)_2021년.csv", encoding='euc-kr')
B_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             8759 non-null   object
 1   일시             8759 non-null   object
 2   기온(°C)         8396 non-null   float64
 3   습도(%)          8396 non-null   float64
 4   풍속(m/s)        8396 non-null   float64
 5   풍향(360°)       8396 non-null   float64
 6   일사량(w/㎡)       8396 non-null   float64
 7   PM10(㎍/㎥)      8283 non-null   float64
 8   PM2.5(㎍/㎥)     8035 non-null   float64
 9   오존(ppm)        8325 non-null   float64
 10  증기압(hPa)       8759 non-null   float64
 11  현지기압(hPa)      8759 non-null   float64
 12  지면온도(°C)       8759 non-null   float64
 13  30cm 지중온도(°C)  8759 non-null   float64
 14  강수량(mm)        8759 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

In [14]:
B_air_diff= pd.read_csv("B_대기확산지수(3hr)_2021년.csv", encoding='euc-kr')
B_air_diff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      365 non-null    object
 1   항목      365 non-null    object
 2   날짜      365 non-null    int64
 3   3       365 non-null    int64
 4   6       365 non-null    int64
 5   9       365 non-null    int64
 6   12      365 non-null    int64
 7   15      365 non-null    int64
 8   18      365 non-null    int64
 9   21      365 non-null    int64
 10  24      365 non-null    int64
dtypes: int64(9), object(2)
memory usage: 31.5+ KB

In [9]:
B_area = pd.read_csv("B관측소_시간별_민원발생건수.csv", encoding='euc-kr')
B_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      130 non-null    int64
 1   발생일자    130 non-null    object
 2   시간      130 non-null    object
 3   주소      130 non-null    object
 4   발생건수    130 non-null    int64
dtypes: int64(2), object(3)
memory usage: 5.2+ KB

In [15]:
B_area = B_area.drop(['NO','주소'],axis=1)
B_area_test = B_area.dropna()
B_area_test['발생일자'] = pd.to_datetime(B_area_test['발생일자'], infer_datetime_format=True)
B_area_test['날짜']= B_area_test['발생일자'].dt.strftime("%Y%m%d")
B_area_test = B_area_test.drop(['발생일자'], axis = 1)
B_area_test['날짜'] = B_area_test['날짜'].astype(int)

In [16]:
B_air_diff = B_air_diff.iloc[:, 0:11]
B_air_diff['날짜'] = pd.to_datetime(B_air_diff['날짜'], format = '%Y%m%d')
B_air_diff['날짜'] = B_air_diff['날짜'].dt.strftime("%Y%m%d")
B_air_diff['대기확산지수']  = B_air_diff.mean(axis = 'columns')
B_air_diff_test = B_air_diff.drop(['3','6','9','12','15','18','21','24','지역','항목'], axis = 1)
B_air_diff_test['날짜'] = B_air_diff_test['날짜'].astype(int)

/tmp/ipykernel_79239/2718414414.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  B_air_diff['대기확산지수']  = B_air_diff.mean(axis = 'columns')

In [17]:
B_air_diff_test

           날짜  대기확산지수
0    20210101  50.000
1    20210102  46.875
2    20210103  50.000
3    20210104  56.250
4    20210105  50.000
..        ...     ...
360  20211227  53.125
361  20211228  87.500
362  20211229  50.000
363  20211230  43.750
364  20211231  43.750

[365 rows x 2 columns]